doctype html
html(xmlns="http://www.w3.org/1999/xhtml" lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no")
		title Vote for the Golden Cardinal
		link(rel="shortcut icon" type="image/png" href="favicon.png")
		script(type="application/javascript" src="client.js" defer)
		link(rel="stylesheet" type="text/css" href="./css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="./css/animate.css")
		style(type="text/css").
			body { background-color: #000 }
			.firefly-container {
				padding: 40px 0 40px 0;
			}
			.firefly-title {
				text-align: center;
				color: #c99843;
				font-family: Helvetica;
				margin: 10px 0 20px 0;
			}
			.firefly-category {
				display: none;
			}
			.firefly-category.running {
				display: block;
			}
			.firefly-category-title {
				text-align: center;
				color: #c99843;
				font-family: Helvetica;
			}
			.firefly-tile-overlay-title {
				text-align: center;
				color: #c99843;
				font-family: Helvetica;
			}
			.firefly-tile-overlay-body {
				text-align: center;
				color: #c99843;
				font-family: Helvetica;
			}
			.firefly-layout {
				margin-top: 30px;
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: wrap;
			}
			.firefly-tile {
				flex-basis: 50%;
				padding: 8px;
			}
			.firefly-tile.vote {
				order: -1;
				flex-basis: 100% !important;
			}
			.firefly-category.voted .firefly-tile {
				flex-basis: 33.3333%
			}
			.firefly-tile-overlay {
				padding-top: 16px;
				display: none;
			}
			.firefly-tile.vote > .firefly-tile-overlay {
				display: block;
			}
			.firefly-category.running ~ .firefly-placeholder {
				display: none;
			}
			.firefly-placeholder-title {
				text-align: center;
				color: #c99843;
				font-family: Helvetica;
			}
			.firefly-placeholder-body {
				text-align: center;
				color: #c99843;
				font-family: Helvetica;
			}
	mixin firefly-tile(id, src, anim)
		.firefly-tile(data-id=id)
			a.firefly-tile-liner(href="#")
				img.img-fluid.animated(class=anim src=src)
			.firefly-tile-overlay
				h3.firefly-tile-overlay-title Thank You for Voting!
				p.firefly-tile-overlay-body
					| Please wait while we count your votes.
					br
					| You may change your vote at any time by selecting a different candidate.
	mixin firefly-category(id, title, a, b, c, d)
		section.firefly-category(data-id=id)
			h2.firefly-category-title #{title}
			.firefly-layout
				+firefly-tile(0, a, "fadeInLeft")
				+firefly-tile(1, b, "fadeInDown")
				+firefly-tile(2, c, "fadeInUp")
				if d
					+firefly-tile(3, d, "fadeInRight")
	body
		.container.firefly-container
			h1.firefly-title Golden Cardinal Awards!
			+firefly-category(0, "Best Regalia",                     "img/regailia/sonia-small.svg", "img/regailia/vern_byrd-small.svg", "img/regailia/beverly-small.svg", "img/regailia/ryan_hayes-small.svg")
			+firefly-category(1, "Best Office Fit Break",            "img/break/arboretum.svg", "img/break/crayon-box.svg", "img/break/gia-ceis.svg", "img/break/transportation.svg")
			+firefly-category(2, "Best Employee on a Skateboard",    "img/skateboard/melissa-bolle.svg", "img/skateboard/don.svg", "img/skateboard/melissa-poua.svg", "img/skateboard/jason.svg")
			+firefly-category(3, "Best Southern Accent",             "img/accent/fares.svg", "img/accent/alisa.svg", "img/accent/luxton.svg", "img/accent/stefanie.svg")
			+firefly-category(4, "Best Sam’s Chicken Dipping Sauce", "img/sauce/janet.svg", "img/sauce/diane.svg", "img/sauce/pablo.svg", "img/sauce/carlisle.svg")
			+firefly-category(5, "Best World Climate Changer",       "img/climate/valencia-finance.svg", "img/climate/doug-graphic-design.svg", "img/climate/angela-biology.svg", "")

			section.firefly-placeholder
				h4.firefly-placeholder-title Unavailable
				p.firefly-placeholder-body
					| Please pay attention to the presentation, you will be able to vote for your candidate of choice soon.
